
body {
    background-color: #f0f1e8;
}


/*Shared Layout*/
nav {
    background-color: #3b8aa4;
}

.nav-link, .navbar-brand {
    color: white;
}

.nav-link:hover {
    color: white;
}

#imputClimaTempo {
    width: 700px;
    color:#62807d;
}

#queryClimaTempo {
    width: 180px;
    margin-right: 50px;
    margin-left: 10px;
    background-color: #3d9dbd;
    color: white;
    border: solid 1px white;
}

#linkLoginHome {
    margin-right: 30px;
    border: solid 1px white;
    width:180px;
    border-radius:5px;
    text-align:center;
    font-weight:600;
}


/*Home*/
.home {
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    border-bottom: solid 1px #cfd7d6;
}

.home .erroCosultaCidade {
    background-color: #2c7d98;
    width: 720px;
    height: 50px;
    text-align:center;
    padding:12px;
    color: white;
    margin-left:640px;
    margin-top:-250px;
    position:absolute;
    border-radius:24px;
    border: solid 1px white;
    animation-name:ecc;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes ecc {
    0%{}
    20%{margin-top:-105px}
    90%{margin-top:-105px}
    100%{}
}
.home h1 {
    font-size:25px;
    color:#349289;
    width: 79%;
    border-bottom: solid 1px #c3d9d7;
    box-shadow: 0px 2px 0px 0px #dbebea;
    margin-bottom:25px
}

.climaTempo {
    border-right: solid 1px #cfd7d6;
    margin-bottom: 30px;
    background-image:url(/img/fundo2.png);
    background-repeat:no-repeat;
    background-size:cover;
    height:auto;
}

.climaTempo input {
    font-size: 16px;
    width:340px;
    margin-top:10px;
    background-color:#f8f8f0;
    border-bottom: solid 1px #c5d3d8;
}

.climaTempo form {
    background-color:#ebebe1;
    padding:2px;
}

.climaTempo .btn {
    background-color: #32748a;
    border:none;
    width: 150px;
    margin-left:20px;
    margin-top:10px;
}

.climaTempo .card {
    background-color: rgb(238, 238, 218, .5);
    border: solid 1px #edece6;
    border-radius:10px;
    margin-top:2%;
    margin-bottom:10px;
    margin-left:1%;
    width:98%;
    min-height:350px;
}

.climaTempo h5 {
    font-size: 19px;
    color: #506462;
    text-align:center;
    border-bottom:solid 1px #62807d;
    border-radius: 55px;
    font-weight:650;
    width:70%;
    margin-left:25%;
}

.climaTempo img {
    width: 100%;
    float: left;
    margin-left:20px;
}

.climaTempo .cidade {
    width:100%;
    font-size: 23px;
    color:tomato;
    font-weight:700;
    text-align:center;
    margin-top:30px;
    margin-bottom:25px;
}

.climaTempo .cidade small {
    color:#2c7d98;
    font-size:15px;
}

.climaTempo .dados {
    color: white;
    font-size:17px;
    padding:8px;
    height:50px;
    font-weight:600;
    border-bottom: solid 1px #d4dadc;
    background-color:rgb(79, 92, 99,.4)
}

.climaTempo .dados small{
    color:tomato;
    font-size:24px;
    float:right;
    margin-top:-7px;
    padding:7px;
    text-align:center;
    background-color:rgb(241, 239, 230,0.5);
    width:30%;
    height:47px;
}

.descricao h2 {
    font-size: 19px;
    color: #3d9dbd;
    margin-bottom:30px;
    margin-left:20px;
}

.descricao ul li {
    color:#62807d;
    font-size:19px;
    color:#2c7d98;
    list-style:none;
}

.descricao .desc {
    color: grey;
    font-size: 14px;
    margin-bottom: 40px;
}


/*Login*/
.page-login {
    width:100%;
}

.page-login .msgAlert {
    background-color: #327389;
    width: 720px;
    height:50px;
    border-radius: 20px;
    border: solid 1px white;
    position:absolute;
    margin-left:733px;
    margin-top:-300px;
    animation-name: msg;
    animation-duration:8s;
    animation-iteration-count: 1;
}

@keyframes msg {
    0%{}
    15%{margin-top:-148px;}
    90%{margin-top:-148px;}
    100% {margin-top: -300px;}
}

.page-login .msgAlert h3{
    font-size:17px;
    padding:13px;
    color:white;
    font-weight:400;
    text-align:center;
}

.page-login  #abrirCriarConta {
    background-color: rgb(247, 240, 240, .1);
    color:#264a56;
    width:65%;
    margin-left:55px;
    margin-top:31px;
    border:none;
    font-weight:600;

}

.page-login .modal-content {
    width:400px;
}

.page-login .criarConta {
    box-shadow: 2px 2px 2px 2px #adbab9;
    border-radius: 8px;
    height: auto;
    padding: 10px;
    background-color: #f8f8f0;
}

.page-login .criarConta .msgerro {
    margin-top:0;
}

.page-login  h5{
    color:#2c7d98;
    font-size:18px;
    margin-left:5px;
}

.page-login-body {
    width:70%;
    margin-left:15%;
    margin-top:5%;
}

.imgleft {
    width:90%;
    height:430px;
    margin-left: 30px;
    margin-top: 50px;
    border-radius:5px;
    margin-bottom: 50px;
    background-image: url(/img/celular.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.imgleft img {
    width:40px;
    margin-left:10px;
}

.entrar {
    box-shadow: 2px 1px 2px 1px #adbab9;
    border-radius: 8px;
    width: 280px;
    height: 430px;
    padding: 10px;
    float: left;
    margin-top: 50px;
    margin-right: 30px;
    background-color: #f8f8f0;
}

.msgerro {
    text-align:center;
    color:tomato;
    padding:3px;
    margin-top:70px;
    margin-bottom:20px;
    height:35px;
}

.page-login .footer-icons {
    width:100%;
    height:70px;
}

#l1 {
    margin-top: 25px;
    margin-left: 40px;
    float: left;
    width: 40px;
}

#l2 {
    margin-top: 25px;
    margin-left: 105px;
    float: left;
    width: 40px;
}

#l3 {
    margin-top: 25px;
    margin-left: 180px;
    float: left;
    width: 40px;
}

.entrar img {
    width: 100px;
    position: absolute;
    margin-top: -60px;
    margin-left: 80px;
}


/* Label, input e button para os dois formularios de criar e logar da pagina de input */
.page-login label {
    color:#456763;
}

.page-login input {
    background-color: #fbfbf6;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px #efeee3;
    border-radius: 5px;
}

.page-login .btn {
    background-color: #438aa1;
    width: 90%;
    margin-left:5%;
    border-radius:5px;
    color:white;
    margin-top:2%;
    margin-bottom:2%;
}


/*administrativo*/
.administrativo {
    height:870px;
    background-image: url(/img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.administrativo .menu {
    border-right: solid 1px #d4d4be;
    min-height: 700px;
    margin-top: 5px;
    padding: 5px;
}

.administrativo .menu img {
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
    opacity:0.2;
}

.administrativo .menu h2 {
    color:#62807d;
    text-align:center;
    border-bottom: solid 1px #62807d;
    border-radius:16px;
    box-shadow: 0px 2px #adbab9;
    font-size:23px;
    padding:5px;
    margin-top: 7%;
    margin-bottom: 7%;
}

.administrativo .menu a {
    background-color: #2484a4;
    text-align:center;
    color:white;
    width:90%;
    height:39px;
    margin-left:5%;
    margin-top:2%;
    border-radius: 6px;
    box-shadow: 1px 2px #f0f1e8;
    font-weight:400;
    padding:8px;
}

.administrativo .menu a:hover {
    background-color:#3d9dbd;
}

.administrativo .body-adm h2 {
    position:absolute;
    color:white;
    margin-left:1000px;
    margin-top:370px;
    font-size:50px;
    font-weight: 700;
}

.administrativo .body-adm img {
    width: 500px;
    margin-top:150px;
    margin-left:800px;
    position:absolute;
    animation-name: rotacionar;
    animation-duration: 35s;
    animation-iteration-count: infinite;
}

@keyframes rotacionar {
    0%{}
    100%{transform:rotate(360deg)}
}


/*Usuario*/
.usuario {
    border-bottom: solid 2px #adbab9;
    width: 100%;
    height: 850px;
    margin-top:0px;
    background-image: url(/img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.usuario .header-usuario {
    width:100%;
    margin-bottom: 8px;
    border-bottom: solid 1px #e3ebeb;
}

#voltar {
    background-color:#2c7d98;
    width:170px;
    color:white;
    float:left;
}

.total-usuario {
    width: 200px;
    float: left;
    color: #3d9dbd;
    font-size: 21px;
    margin-bottom: 30px;
    margin-left: 30px;
    background-color: #2c7d98;
    height:38px;
    border-radius:5px;
    color:white;
    font-size:18px;
    font-weight:450;
    padding:5px;
    text-align:center;
}

.usuario .body-usuario {
    width:64%;
    margin-left:22%;
    margin-top:6%;
}

.usuario .body-usuario th {
    color: #e5e2d2;
    font-weight: 500;
}

.usuario .body-usuario td {
    color: white;
    font-weight: 500;
}

.usuario .body-usuario #editar {
    color:#e1d2d2;
    font-size:15px;
    text-decoration:none;
    margin-left:3px;
}

.usuario .body-usuario #excluir {
    color: tomato;
    font-size: 15px;
    text-decoration: none;
}

.usuario .body-usuario #visualizar {
    color: #c1b7b6;
    font-size: 15px;
    text-decoration: none;
}

.usuario .body-usuario .confirmar {
    color: tomato;
    font-size: 17px;
    text-decoration: none;
}


/*cadastroColaboradores*/
.cadastroFull {
    width: 100%;
    min-height:800px;
    border-bottom: solid 1px #c2dce5;
    padding: 30px;
    background-image:url(/img/fundo.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.cadastroFull h1 {
    width:33.8%;
    height:50px;
    margin-left:15%;
    margin-bottom:2%;
    font-size:21px;
    color:#e5e5d5;
    font-weight:700;
    padding:15px;
    border-bottom:solid 1px white;
}

.cadastroFull .cadastro {
    border-bottom:solid 1px #90b4b1;
    width:70%;
    margin-left:15%;
    padding:10px;
    background-color:rgb(24, 99, 143, .3)
}

.cadastroFull label {
    color: white;
}

.cadastroFull input {
    background-color:rgb(12, 155, 187,.4);
    color:white;
    font-weight:600;
    border:none;
    border-bottom: solid 1px #91b0ba;
}

.cadastroFull select {
    background-color:rgb(12, 155, 187,.4);
    color:white;
    border:none;
    border-bottom: solid 1px #91b0ba;
}

.cadastroFull select option {
    background-color:white;
    color:grey;
    font-weight: 600;
}

.cadastro .btn {
    background-color: rgb(12, 155, 187,.4);
    width: 220px;
    color: white;
    font-weight: 600;
    margin-top: 50px;
}


/*Localizacao*/
.localizacao {
    width: 81%;
    margin-left:5%;
}

.localizacao h1 {
    color:#2c5e6f;
    font-size:21px;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:42%;
    border-bottom: solid 1px #a8b9b7;
    width:58%;

}

.localizacao form {
    border-bottom: solid 1px #3d9dbd;
    width: 58%;
    margin-left:42%;
    margin-bottom:3%;
}

.localizacao .btn {
    width: 200px;
    background-color:#359cbe;
    border:none;
}


.localizacao .mapa img{
    width:90%;
    margin-top:30px;
}

.localizacao .tabela {
    width:88%;
    margin-left:12%;
}

.localizacao th {
    color: #2c7d98;
    font-size: 14px;
}

.localizacao td {
    color: #62807d;
}



/*Mensagem de erro caso a api de localizacoes não responder */
.administrativo .menu h4 {
    font-size: 15px;
    margin-left: 730px;
    margin-top: -700px;
    position:absolute;
    color: white;
    text-align:center;
    padding:9px;
    background-color: tomato;
    width:720px;
    height:40px;
    border-radius: 20px;
    animation-name: erroLocal;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes erroLocal {
    0% {}
    15% { margin-top: -630px; }
    90% { margin-top: -630px;}
    100% { }
}